{% extends 'base.html.twig' %}

{% block title %}Edit AnimaProgram{% endblock %}

{% block body %}
    <h1>Edit AnimaProgram</h1>

    {{ include('anima_program/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('anima_program_index') }}">back to list</a>

    {{ include('anima_program/_delete_form.html.twig') }}
{% endblock %}
